@model Transporte.Web.Data.Entities.Sindicato

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Sindicato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nomsindica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nomsindica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fechafundacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fechafundacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddAfiliado" asp-route-id="@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Afiliado</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-success">Volver a Lista</a>
</div>
<hr />

@if (Model.Afiliados.Count == 0)
{
    <h5>No existen afiliados registrados.</h5>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Afiliados Registrados</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Afiliado
                                    @*@Html.DisplayNameFor(model => model.Afiliados.FirstOrDefault().Nombres)*@
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Afiliados.FirstOrDefault().Celular)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Afiliados.FirstOrDefault().Foto)
                                </th>
                                <th>
                                    Codigo QR
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Afiliados)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Celular)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.Foto)" alt="Image" style="width:80px;height:80px;border-radius:50%" />
                                </td>
                                <td>
                                    <img src="@Url.Content(item.Imgqr)" alt="Image" style="width:70px;height:70px" />
                                </td>
                                <td>
                                    <a asp-action="EditProperty" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> </a>
                                    <a asp-action="DetailsAfili" class="btn btn-primary" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"> </i> </a>
                                    <a asp-action="DeleteAfili" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
